<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <title>Edit Product</title>
</head>
<body>

<form th:object="${product}" th:action="@{save}" action="#" th:method="post">
    <input type="hidden" th:field="*{id}"/>
    <label th:text="name" th:for="name"/>
    <input th:field="*{name}" type="text"/><br/>
    <label th:text="priceperday" th:for="priceperday"/>
    <input th:field="*{priceperday}" type="number"/><br/>
    <label th:text="pricepermonth" th:for="pricepermonth"/>
    <input th:field="*{pricepermonth}" type="number"/><br/>
    <input type="submit" value="Save" />
</form>

</body>
</html>