<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <title>Product</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 50%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
<h1>List Product</h1>

<table>
    <a href="/product/add">Add Product</a>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price Per Day</th>
        <th>Price Per Month</th>
        <th>Action</th>
    </tr>

    <tr th:if="${lsProduct.empty}">
        <td colspan="2"> No Products Available </td>
    </tr>
    <tr th:each="product : ${lsProduct.content}">
        <td><span th:text="${product.id}"> ID </span></td>
        <td><span th:text="${product.name}"> Name </span></td>
        <td><span th:text="${product.priceperday}"> Price Per Day </span></td>
        <td><span th:text="${product.pricepermonth}"> Price Per Month </span></td>
        <td>
            <a th:href="@{/product/edit?id={id}(id=${product.id})}" >Edit</a>
            <a th:href="@{/product/delete?id={id}(id=${product.id})}" >Delete</a>
        </td>
    </tr>

</table>
<div class="pagination-div">
        <span th:if="${lsProduct.hasPrevious()}">
            <a th:href="@{/pagination(page=${lsProduct.number-1},size=${lsProduct.size})}">Previous</a>
        </span>

    <th:block th:each="i: ${#numbers.sequence(0, lsProduct.totalPages - 1)}">
        <span th:if="${lsProduct.number == i}" class="selected">[[${i}+1]]</span>
        <span th:unless="${lsProduct.number == i}">
             <a th:href="@{/pagination(page=${i},size=${lsProduct.size})}">[[${i}+1]]</a>
        </span>
    </th:block>

    <span th:if="${lsProduct.hasNext()}">
            <a th:href="@{/pagination(page=${lsProduct.number+1},size=${lsProduct.size})}">Next</a>
        </span>
</div>
</body>
</html>


